<html>
  <head>
    <title>Página Principal</title>
  </head>
  <body>
    <form action='/check' method='POST'>
      Nome: <input type='text' name='username'></input><br/>
      Data de Nascimento<input type='text' name='dtnascimento' placeholder="dd/mm/yyyy" maxlength="10"></input><br/>
      <button type='submit'>Calcular</button>
    </form>
  </body>
</html>
